@import '../../../../../assets/styles/theme';

.search-result-item {
	cursor: pointer;
	text-decoration: none;
	color: $color-dark;

	&__price {
		font-size: 24px;
		&-amount {
			margin-right: 16px;
		}
	}

	&:not(:last-child) {
		border-bottom: 1px solid $color-light;
	}

	&:hover {
		background-color: rgba($color: $color-light, $alpha: 0.3);
	}
}
