@import './normalize';
@import './theme';

body {
	min-height: 100vh;
	background-color: $color-light;
	color: $color-dark;
}

p {
	font-size: $font-size-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 16px;
	margin-bottom: 16px;
}

// Layout global styles

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&.is-centered {
		justify-content: center;
	}
}

.column {
	display: flex;
	flex-direction: column;
}

// Buttons global styles

.button {
	border: none;
	min-width: 40px;
	min-height: 40px;
	border-radius: $border-radius;
	&.is-light {
		background-color: $color-light;
	}
	&.is-secondary {
		background-color: $color-secondary;
		color: $color-white;
	}
	&.is-block {
		width: 100%;
	}

	&:hover {
		opacity: 0.9;
	}
}

// Panels global styles

.panel {
	padding: 16px;
	border-radius: $border-radius;
	box-shadow: 1px 1px 4px rgba($color: $color-light, $alpha: 0.5);

	&.is-white {
		background-color: $color-white;
	}
}

// Image global styles

.image {
	border-radius: $border-radius;
	overflow: hidden;
	&.is-180x180 {
		width: 180px;
		height: 180px;
	}

	img {
		height: 100%;
		margin: auto;
		display: block;
	}
}

// Text modifiers

.title {
	font-size: 28px;
	font-weight: normal;
}

.has-text-grey {
	color: $color-grey;
}

.is-size {
	&-1 {
		font-size: 46px;
	}
	&-2 {
		font-size: 24px;
	}
}
