@import './variables';

$color-primary: $ml-yellow;
$color-secondary: $blue;
$color-dark: $dark-grey;
$color-grey: $grey;
$color-light: $light-grey;
$color-white: $white;
$color-text: $darkish-grey;

$border-radius: 4px;

$font-size-text: 18px;
$font-size-small: 12px;
